* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-image: linear-gradient(170deg, #103184 34%, #ff2145 100%);
  height: 100%; }

a {
  display: inline;
  color: #f6f6f6;
  text-decoration: none; }

h1,
h2 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 700; }

h3 {
  font-family: "Nunito", sans-serif;
  color: white; }

li {
  color: white; }

p {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff; }

.imgArticle {
  height: 14rem;
  width: 22rem;
  background-color: #ffffff;
  box-shadow: 17px 19px 0px 0px #A62662;
  border-radius: 15px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .imgArticle {
      height: 18rem;
      width: 28rem; } }
  @media (min-width: 992px) {
    .imgArticle {
      height: 20rem;
      width: 30rem; } }

.artic__contentDG--title {
  text-align: left; }

.card__style {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  height: 28rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 0px 0px #A62662; }

.card__style--img {
  height: 20rem;
  width: 18rem;
  object-fit: cover;
  border-radius: 1rem; }

.card__style--body {
  background-color: #261859;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.card__style--title {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center; }

.card__style--text {
  font-size: 1rem; }

.cardStar__style--img-1 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-2 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-3 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-4 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar {
  height: 10rem;
  width: 10rem;
  background-color: #ffffff; }

.cardStar__style--img, .cardStar__style--img-1, .cardStar__style--img-2, .cardStar__style--img-3, .cardStar__style--img-4 {
  height: 10rem;
  width: 10rem; }

.cardStar__style--title {
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem; }

.card-img-overlay {
  display: flex;
  flex-direction: column;
  background-color: #ffffff95;
  justify-content: end; }
  .card-img-overlay:hover {
    filter: blur 2px; }

.artic__content {
  height: 100%; }

.artic__content--title, .artic__contentDG--title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.5rem;
  margin-bottom: 0; }

.artic__content--text {
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 2rem; }
  @media (min-width: 992px) {
    .artic__content--text {
      margin-top: 0.5rem; } }

.imgSize {
  height: 15rem;
  width: 15rem; }
  @media (min-width: 768px) {
    .imgSize {
      height: 25rem;
      width: 25rem; } }
  @media (min-width: 992px) {
    .imgSize {
      height: 30rem;
      width: 30rem; } }

.button {
  background-color: #261859;
  color: white;
  width: 100%;
  border-radius: 3rem; }

.button__inferior-ed {
  background-color: orange;
  color: #464646;
  border-radius: 0.5rem;
  margin: 0.5rem; }
  .button__inferior-ed:hover {
    background-color: #A62662; }

.button__inferior-dg {
  background-color: orange;
  color: #464646;
  border-radius: 0.5rem;
  margin: 0.5rem; }
  .button__inferior-dg:hover {
    background-color: #A62662; }

.button__inferior-cm {
  background-color: orange;
  color: #464646;
  border-radius: 0.5rem;
  margin: 0.5rem; }
  .button__inferior-cm:hover {
    background-color: #A62662; }

.button__inferior-wd {
  background-color: orange;
  color: #464646;
  border-radius: 0.5rem;
  margin: 0.5rem; }
  .button__inferior-wd:hover {
    background-color: #A62662; }

.button__inferior {
  color: #ffffff;
  margin-left: -1rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem; }

.buttons__image {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  box-shadow: 6px 6px 0px 0px #A62662;
  border-radius: 100%;
  object-fit: contain; }

.buttons__text {
  font-weight: 600;
  padding: 0.7rem 0rem 1rem 0rem; }

.btn-colorTwo {
  background-color: #A62662; }

.imgArticle {
  height: 14rem;
  width: 22rem;
  background-color: #ffffff;
  box-shadow: 17px 19px 0px 0px #A62662;
  border-radius: 15px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .imgArticle {
      height: 18rem;
      width: 28rem; } }
  @media (min-width: 992px) {
    .imgArticle {
      height: 20rem;
      width: 30rem; } }

.artic__contentDG--title {
  text-align: left; }

.card__style {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  height: 28rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 0px 0px #A62662; }

.card__style--img {
  height: 20rem;
  width: 18rem;
  object-fit: cover;
  border-radius: 1rem; }

.card__style--body {
  background-color: #261859;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.card__style--title {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center; }

.card__style--text {
  font-size: 1rem; }

.cardStar__style--img-1 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-2 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-3 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar__style--img-4 {
  object-fit: cover;
  box-shadow: 15px 15px 0px 0px #A62662; }

.cardStar {
  height: 10rem;
  width: 10rem;
  background-color: #ffffff; }

.cardStar__style--img, .cardStar__style--img-1, .cardStar__style--img-2, .cardStar__style--img-3, .cardStar__style--img-4 {
  height: 10rem;
  width: 10rem; }

.cardStar__style--title {
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem; }

.card-img-overlay {
  display: flex;
  flex-direction: column;
  background-color: #ffffff95;
  justify-content: end; }
  .card-img-overlay:hover {
    filter: blur 2px; }

.form__design {
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  background-color: #26185930;
  color: #ffffff; }

.form_design--titulo {
  color: #ffffff;
  font-weight: 600; }

.form_design--boxcontent {
  font-weight: 600; }

.imgArticle {
  height: 14rem;
  width: 22rem;
  background-color: #ffffff;
  box-shadow: 17px 19px 0px 0px #A62662;
  border-radius: 15px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .imgArticle {
      height: 18rem;
      width: 28rem; } }
  @media (min-width: 992px) {
    .imgArticle {
      height: 20rem;
      width: 30rem; } }

.navbarstyle {
  padding: 0rem 3rem 0rem 3rem; }

.navbarstyle__dropdown--subitem {
  font-weight: 700; }

.navfooter {
  background-color: #261859; }

.navfooter__list {
  font-family: "Nunito", sans-serif; }

.navfooter__list--item {
  font-weight: 600;
  color: #ffffff; }

.navfooter__list--subitem {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #ffffff; }

.socialMedia {
  width: 8rem; }

.socialMedia__icon {
  height: 2rem; }

.footerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 768px) {
  .footerMenu {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footerMenu {
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; } }

.contentshow {
  font-family: "Nunito", sans-serif;
  color: white;
  height: 30rem;
  padding: 1rem; }

.contentshow__img {
  width: 500px; }

.contentshow__title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff; }

.contentshow__text {
  color: white;
  text-align: left;
  margin-left: 3rem; }

.carouselDG__public--titulo {
  font-weight: 600;
  font-size: 2rem; }

.carouselDG__public--texto {
  font-size: 1.1rem;
  color: orange; }

article {
  padding: 5rem 0rem 5rem 0rem; }

.mainStyleGral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem; }

@media (min-width: 768px) {
  main {
    height: 40rem; }
  .mainStyleGral {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mainStyleGral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
    align-items: flex-start; }
  .mainStyleGral h2 {
    margin-left: 3rem; } }

.heroHeader {
  padding-top: 5rem;
  padding-bottom: 5rem; }
