$titular-Font: Nunito;
$second-Font: Nunito Sans;

a {
    display: inline;
    color: #f6f6f6;
    font-family: "Nunito Sans";
    text-decoration: none;
  }
  
  h1,
  h2 {
    font-family: "Nunito";
    color: white;
    font-weight: 700;
  }

  h3,
  p,
  li {
    font-family: "Nunito Sans";
    color: white;
  }