/* font-family: 'Nunito Sans', 200 / 600 / 700 sans-serif; */
* { margin: 0; padding: 0; list-style: none; }

/* CSS General */

body {
  background-image: linear-gradient(170deg, #103184 34%, #ff2145 100%);
  height: 100vh;
}

a {
  display: inline;
  color: #f6f6f6;
  font-family: "Nunito Sans";
  text-decoration: none;
}

h1,
h2,
p,
li {
  font-family: "Nunito Sans";
  color: white;
}

/* Secciones Landing Page */

.mainStyleGral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem;
}
.footerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.offcanvaBlur{
  opacity: 0.6;
}

/* Textos y Contenidos */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    height: 40rem;
  }
  .mainStyleGral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerMenu {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .mainStyleGral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
    align-items: flex-start;
  }
  .mainStyleGral h2 {
    margin-left: 3rem;
  }
  .footerMenu {
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Seccion Trabajos */
.dListA {
  font-weight: 700;
  list-style-position: outside;
}
.dListB {
  font-weight: 400;
  list-style-position: inside;
}

/* Formulario  */
label,
input {
  font-family: "Nunito Sans";
  margin: 0.5rem;
}

/* Tabla */
table {
  background-color: #f6f6f6;
  font-family: "Nunito Sans";
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  width: 50%;
}
th,
td {
  padding: 1em;
  border-collapse: collapse;
  border: 2px solid black;
}
th {
  background-color: rgb(255, 255, 255);
  border: 2px outset #da6c11;
}

.editorialBackground {
  background-color: #f6f6f6;
}

.formContactAll {
  width: 38rem;
}

.boxInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}
.bottonForm {
  display: flex;
  padding-bottom: 1rem;
}
.formOptions {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
}

/* ///CSS - DG Section//// */

.carousel, 
.carousel-inner img{
height: 35rem;
object-fit:scale-down;
}


 /* //////////Grid DG/////////// */

/* Grid Editorial  */

.editShow {
  display: grid;
  grid-template-columns: 3.8fr 1.5fr 1.7fr;
  grid-template-rows: 0.7fr 3.2fr 1.1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  grid-template-areas:
    "title title title"
    "edit1 edit1 edit4"
    "edit2 edit3 edit3"
    "edit2 edit3 edit3";
  height: 45rem;
}

.edit1 {
  grid-area: edit1;
  justify-items: center;
  background-image: url(/img/edit/1.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.edit2 {
  grid-area: edit2;
  justify-items: center;
  background-image: url(/img/edit/2.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.edit3 {
  grid-area: edit3;
  justify-items: center;
  background-image: url(/img/edit/3.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.edit4 {
  grid-area: edit4;
  justify-items: center;
  background-image: url(/img/edit/4.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

/* cm Grid  */

.cmShow {
  display: grid;
  grid-template-columns: 3.8fr 1.5fr 1.7fr;
  grid-template-rows: 0.7fr 3.2fr 1.1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "title title title"
    "cm1 cm1 cm4"
    "cm2 cm3 cm3"
    "cm2 cm3 cm3";
  height: 40em;
}

.cm1 {
  grid-area: cm1;
  background-image: url(/img/social/01.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cm2 {
  grid-area: cm2;
  background-image: url(/img/social/02.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.cm3 {
  grid-area: cm3;
  background-image: url(/img/social/03.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

.cm4 {
  grid-area: cm4;
  background-image: url(/img/social/02.png);
  background-position: center;
  width: 100%;
  height: 100%;
}

/* webDesign Grid  */

.webDesShow {
  display: grid;
  grid-template-columns: 3.8fr 1.1fr 2.1fr;
  grid-template-rows: 0.7fr 3.2fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "title title title"
    "webDes1 webDes1 webDes2"
    "webDes4 webDes3 webDes3";
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.webDes1 {
  grid-area: webDes1;
  background-image: url(/img/web/01.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.webDes2 {
  grid-area: webDes2;
  background-image: url(/img/web/02.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.webDes3 {
  grid-area: webDes3;
  background-image: url(/img/web/0202.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.webDes4 {
  grid-area: webDes4;
  background-image: url(/img/web/0101.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
