//Sección Diseño Gráfico

.carouselDG__public--titulo{
    font-weight: 600;
    font-size: 2rem;
}
.carouselDG__public--texto{
    font-size: 1.1rem;
    color: orange;
}
// .artic__contentDG--card{
// @include size-image (18rem,18rem)
// }

