//Article Content
@import 'components/card';

.artic__content{
    height: 100%;

}
.artic__content--title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 0;

    }

.artic__content--text{
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 2rem;

    @media (min-width: 992px){
        margin-top: 0.5rem;
        }
}
.imgSize{
    @include size-image(15rem,15rem );

    @media  (min-width: 768px){
        @include size-image(25rem,25rem )
    }
    
    @media  (min-width: 992px){
        @include size-image(30rem,30rem )    
    }
  
}