@import 'components/images';

//Estilo de Tarjetas

// .artic__contentDG{
//     height: 70%;
// }

.artic__contentDG--title{
    @extend .artic__content--title;
    text-align: left;
    }

.card__style{
    font-family:$titular-font;
    color:$color-blanco;
    height: 28rem;
    width: 18rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px 0px  $color-violeta;

    }
    
    .card__style--img{
        @include size-image (18rem,20rem); 
        object-fit: cover;
        border-radius: 1rem;
    }
    
    .card__style--body{
    background-color: $color-azul;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
    }
    .card__style--title{
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }
    .card__style--text{
        font-size: 1rem;
    }

        
$dg:1;
@while $dg < 5 {
    .cardStar__style--img-#{$dg} {
        @extend .cardStar__style--img;
        object-fit:cover; 
        box-shadow: 15px 15px 0px 0px  $color-violeta;
        border-radius:1rem;
        }    
    $dg: $dg + 1;
}

    //Estilo Card Presentacion
    .cardStar {
        height: 10rem;
        width: 10rem;
        background-color: $color-blanco;
        border-radius:1rem;
    }

    .cardStar__style--img{
        height: 10rem;
        width: 10rem;
 
    }
    .cardStar__style--title{
        font-family: $titular-font;
        font-size: 0.9rem;

    }

    .card-img-overlay{
        background-color: $color-blancoOp;
        border-radius: 1rem;
    }
    
    
    