//Formulario
.form__design{
    width: 28rem;
    border-radius: 2rem;
     background-color: $color-azul;
     color: white;
}
.form_design--titulo{
    color: #da6c11;
    font-weight: 600;
}
.form_design--boxcontent{
    font-weight: 600;
}