//Formulario
.form__design{
    width: 25rem;
    height: 30rem;
    border-radius: 2rem;
     background-color: $color-azulOp;
     color: $color-blanco;

     
}
.form_design--titulo{
    color: $color-blanco;
    font-weight: 600;
}
.form_design--boxcontent{
    font-weight: 600;
}