$titular-font:'Nunito', sans-serif;
// Bold 700
$second-font:'Nunito Sans', sans-serif;
// Light 300
// Regular 400
// Regular 400 italic


a {
    display: inline;
    color: #f6f6f6;
    text-decoration: none;
    
  }
  
  h1,
  h2 {
    font-family: $titular-font;
    color: white;
    font-weight: 700;
  }

  h3 {
    font-family: $titular-font;
    color: white;
  }

  li {
    color: white;
  }
  p {
    font-family: $second-font;
    color: $color-blanco;
  }
  