$titular-font: 'Nunito';
$second-font: 'Nunito Sans';

a {
    display: inline;
    color: #f6f6f6;
    font-family: $second-font;
    text-decoration: none;
  }
  
  h1,
  h2 {
    font-family: $titular-font;
    color: white;
    font-weight: 700;
  }

  h3,
  p,
  li {
    font-family: $titular-font;
    color: white;
  }